@page
@model HelpCheck_Web.Pages.Authen.SetPasswordModel
@{
    ViewData["Title"] = "Set Password";
    Layout = "_Layout_auth";
}
@Html.AntiForgeryToken()
<style>
    .login-form {
        border: none;
        border-bottom: 2px solid #E9E9F0 !important;
        background-color: transparent !important;
        color: #648D82;
    }
</style>
<div class="row">
    <div class="col-md-3 col-sm-3 app-header-left" style="text-align:center;">
        <img src="~/assets/images/health_care_icon_for_doctors_team_slide01.png" height="320px;" width="300px;" />
    </div>
    <div class="col-md-9 col-sm-3 app-header-right">
        <form class="col-md-8 col-sm-3" method="post" asp-page="Index">
            <div class="text-center">
                <img src="~/assets/images/MSELogo.png" height="250px;" width="250px;" />
                <br /><br />
                <h4 style="color:dimgray">ตั้งค่ารหัสผ่านใหม่ของคุณ</h4>
                <br />
            </div>
            <div class="position-relative form-group">
                <label></label>
                <input name="Username" id="id" placeholder="เลขบัตรประชาชน" type="text" class="form-control login-form" asp-for="@Model.SetPasswordDto.Email">
                <label></label>
                <input name="Code" id="hn" placeholder="HN" type="text" class="form-control login-form" asp-for="@Model.SetPasswordDto.Code">
                <label></label>
                <input name="Password" id="txtpassword" placeholder="รหัสผ่านใหม่" type="text" class="form-control login-form" asp-for="@Model.SetPasswordDto.NewPassword" style="visibility:hidden">
                <label></label>
                <input name="ConfirmPassword" id="txtConfirmPassword" placeholder="ยืนยันรหัสผ่านใหม่" type="text" class="form-control login-form" asp-for="@Model.SetPasswordDto.ConfirmPassword" style="visibility:hidden">
                <div class="registrationFormAlert" style="color:#FF808B;" id="CheckPasswordMatch"></div>
            </div>
            <button type="submit" class="mt-2 btn btn-primary" style="font-size: medium; visibility: hidden" id="save">บันทึก</button>
        </form>
    </div>
</div>

<script>
    function checkPasswordMatch() {
        var password = $("#txtpassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();
        if (password != confirmPassword)
            $("#CheckPasswordMatch").html("Passwords does not match!");
        else
            $("#CheckPasswordMatch").html("Passwords match.");
    }
    $(document).ready(function () {
        $("#txtConfirmPassword").keyup(checkPasswordMatch);
    });

    //function checkIDCard() {
    //    var idCard = $("#id").val();
    //    var Hn = $("#hn").val();
    //    let data = {
    //        'id': idCard,
    //        'hn': Hn,
    //    }
    //    $.ajax({
    //        type: 'POST',
    //        url: '/Authen/SetPassword?handler=CheckIDCard',
    //        headers: {
    //            RequestVerificationToken:
    //                $('input:hidden[name="__RequestVerificationToken"]').val()
    //        },
    //        contentType: 'application/json; charset=utf-8',
    //        dataType: 'json',
    //        data: JSON.stringify(data),
    //        success: function (response) {
    //            if (response === 'success') {
    //                document.getElementById("txtpassword").style.visibility = "visible";
    //                document.getElementById("txtConfirmPassword").style.visibility = "visible";
    //                document.getElementById("save").style.visibility = "visible";
    //                document.getElementById("checkID").style.visibility = "hidden";
    //            } else {
    //                alert("เกิดข้อผิดพลาด บัตรประชาชน หรือ HN ไม่ถูกต้อง");
    //            }
    //        }
    //    });
    //}
</script>